<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" href="/css/main/main.css">
  <script src="/js/main/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
</head>
<body>

<div class="pageLayout">
  <header th:replace="/common/header::header"></header>

  <th:block layout:fragment="content"></th:block>

  <th:block layout:fragment="video_ai"></th:block>

  <footer th:replace="/common/footer::footer"></footer>
</div>
<th:block layout:fragment="modals"></th:block>
</body>
</html>