<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="/css/main/main.css">
    <script src="/js/main/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
</head>
<body th:attr="data-member-id=${memberId},data-member-name=${memberName},data-member-handle=${memberHandle},data-partner-id=${partnerId},data-partner-name=${partnerName},data-partner-handle=${partnerHandle},data-conversation-id=${conversationId},data-profile-image=${profileImageUrl}">
<main class="Chat-Main">
    <header th:replace="/common/header-left-one::sidebar-left"></header>
    <th:block layout:fragment="content"></th:block>
    <th:block layout:fragment="modals"></th:block>
</main>
</body>
</html>