<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.globalgates.mapper.AdminNewsMapper">

    <select id="selectAdminNews" resultType="com.app.globalgates.dto.NewsDTO">
        select id,
               admin_id,
               news_title,
               news_content,
               news_source_url,
               news_category,
               news_type,
               to_char(published_at, 'YYYY-MM-DD HH24:MI:SS') as published_at,
               to_char(created_datetime, 'YYYY-MM-DD HH24:MI:SS') as created_datetime,
               to_char(updated_datetime, 'YYYY-MM-DD HH24:MI:SS') as updated_datetime
        from tbl_news
        order by created_datetime desc
    </select>

    <insert id="insertAdminNews">
        insert into tbl_news (
            admin_id,
            news_title,
            news_content,
            news_source_url,
            news_category,
            news_type,
            published_at
        ) values (
            #{adminId},
            #{newsTitle},
            #{newsContent},
            #{newsSourceUrl},
            #{newsCategory}::news_category_type,
            #{newsType}::news_type,
            now()
        )
    </insert>

</mapper>
