<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.globalgates.mapper.NotificationPreferenceMapper">

    <select id="selectByMemberId" resultType="com.app.globalgates.dto.NotificationPreferenceDTO">
        select
            id, member_id, quality_filter_enabled,
            muted_non_following, muted_not_following_you, muted_new_account,
            muted_default_profile, muted_unverified_email, muted_unverified_phone,
            push_connect, push_expert, push_likes, push_posts,
            push_comments, push_chat_messages, push_quotes,
            push_system, push_mentions
        from tbl_notification_preference
        where member_id = #{memberId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_notification_preference (
            member_id, quality_filter_enabled,
            muted_non_following, muted_not_following_you, muted_new_account,
            muted_default_profile, muted_unverified_email, muted_unverified_phone,
            push_connect, push_expert, push_likes, push_posts,
            push_comments, push_chat_messages, push_quotes,
            push_system, push_mentions
        ) values (
            #{memberId}, #{qualityFilterEnabled},
            #{mutedNonFollowing}, #{mutedNotFollowingYou}, #{mutedNewAccount},
            #{mutedDefaultProfile}, #{mutedUnverifiedEmail}, #{mutedUnverifiedPhone},
            #{pushConnect}, #{pushExpert}, #{pushLikes}, #{pushPosts},
            #{pushComments}, #{pushChatMessages}, #{pushQuotes},
            #{pushSystem}, #{pushMentions}
        )
    </insert>

    <update id="update">
        update tbl_notification_preference
        set quality_filter_enabled = #{qualityFilterEnabled},
            muted_non_following = #{mutedNonFollowing},
            muted_not_following_you = #{mutedNotFollowingYou},
            muted_new_account = #{mutedNewAccount},
            muted_default_profile = #{mutedDefaultProfile},
            muted_unverified_email = #{mutedUnverifiedEmail},
            muted_unverified_phone = #{mutedUnverifiedPhone},
            push_connect = #{pushConnect},
            push_expert = #{pushExpert},
            push_likes = #{pushLikes},
            push_posts = #{pushPosts},
            push_comments = #{pushComments},
            push_chat_messages = #{pushChatMessages},
            push_quotes = #{pushQuotes},
            push_system = #{pushSystem},
            push_mentions = #{pushMentions},
            updated_datetime = now()
        where id = #{id}
    </update>

</mapper>
